{% extends 'base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block header %}

<div>
    <nav>
        <a>Liste des produits</a>
        <a>Créer un noueau produit</a>
    </nav>
</div>

{% endblock %}


